<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="../styles/letter.css"/>
</head>
<body>
<div th:include="/header"></div>
<div id="main">
    <div class="zg-wrap zu-main clearfix ">
        <ul class="letter-chatlist" th:each="message:${messages}">
            <li id="msg-item-4009580">
                <a class="list-head">
                    <img th:title="${message.objs.user.name}" th:src="${message.objs.user.headUrl}"/>
                </a>
                <div class="tooltip fade right in">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner letter-chat clearfix">
                        <div class="letter-info">
                            <p class="letter-time" th:text="${#dates.format(message.objs.message.createdDate,'yyyy-MM-dd HH:mm:ss')}"></p>
                            <a href="javascript:void(0);" id="del-link" name="4009580">删除</a>
                        </div>
                        <div class="chat-content" >
                      	  <p th:text="${message.objs.message.content}"></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>
<div th:include="/footer"></div>
</body>
</html>